{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>Putforth</title>
</head>

<body class="body1">

    <div class="grid-cont">

        <div class="bgImg">
    <header>
        <h1 class="heading"><img src="profile-img.jpg" alt=""></h1>
      <div class="header-text">
          <p>☀️</p>
        <input type="checkbox"  id="dark" autocomplete="off">
        <p>🌙</p>
      </div>
        
        
    </header>

        <div class="profile">
            <img src="profile.jpg" alt="Profile Image">

            <div class="profile-text">
                <h2>Hi! I'm Saurabh Kalamb</h2>
                <p>Get to know the drivers behind market moving stories and events with PUTFORTH. We share the latest and greatest facts, trends and insights related to Finance. 
                    PUTFORTH differentiates itself from traditional, conventional ways to present the insights in some exceptional ways. 
                    Finance is more than numbers, it's about the life.</p>
                
            </div>



        </div>
    </div>
        <div class="blogs">
            <h3>Discover The Insight</h3>
            <div class="cards">
                <a class="blog-link" href="https://putforthofficial.blogspot.com/">
                <div class="card card1">
                    <div class="container">
                        <img src="https://images.unsplash.com/photo-1586021280718-53fbadcb65a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=80"
                            alt="img1">
                    </div>
                    <div class="details">
                        <h3>{{blog1.name}}</h3>
                        <p>{{blog1.short_desc}}</p>
        
                    </div>
                </div></a>
                <a class="blog-link" href="https://putforthofficial.blogspot.com/">
                <div class="card card1">
                    <div class="container">
                        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                            alt="img1">
                    </div>
                    <div class="details">
                        <h3>Blog 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque esse ducimus corporis?
                            Consequuntur, adipisci quo animi voluptatibus quas veniam optio!</p>
        
                    </div>
                </div></a>
                <a class="blog-link" href="https://putforthofficial.blogspot.com/">
                <div class="card card1">
                    <div class="container">
                        <img src="https://images.unsplash.com/photo-1559526324-593bc073d938?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="img1">
                    </div>
                    <div class="details">
                        <h3>Blog 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque esse ducimus corporis?
                            Consequuntur, adipisci quo animi voluptatibus quas veniam optio!</p>
        
                    </div>
                </div></a>
                <a class="blog-link" href="https://putforthofficial.blogspot.com/">
                <div class="card card1">
                    <div class="container">
                        <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80" alt="img1">
                    </div>
                    <div class="details">
                        <h3>Blog 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque esse ducimus corporis?
                            Consequuntur, adipisci quo animi voluptatibus quas veniam optio!</p>
        
                    </div>
                </div></a>
                <a class="blog-link" href="https://putforthofficial.blogspot.com/">
                <div class="card card1">
                    <div class="container">
                        <img src="https://images.unsplash.com/photo-1567427017947-545c5f8d16ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=695&q=80" alt="img1">
                    </div>
                    <div class="details">
                        <h3>Blog 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque esse ducimus corporis?
                            Consequuntur, adipisci quo animi voluptatibus quas veniam optio!</p>
        
                    </div>
                </div></a>
                <a class="blog-link" href="https://putforthofficial.blogspot.com/">
                <div class="card card1">
                    <div class="container">
                        <img src="https://images.unsplash.com/photo-1529119368496-2dfda6ec2804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="img1">
                    </div>
                    <div class="details">
                        <h3>Blog 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque esse ducimus corporis?
                            Consequuntur, adipisci quo animi voluptatibus quas veniam optio!</p>
        
                    </div>
                </div></a>


            </div>


        </div>

        <footer>
            <div class="fot-color">
                <div class="centerdiv">
                    <a href="https://www.facebook.com/SetForthupdates/?ti=as" class="icon" target="_blank">
                        <i class="fa fa-2x fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/putforth" class="icon" target="_blank">
                        <i class="fa fa-2x fa-linkedin"></i>
                    </a>
                </div>

                <div class="footer-copyright">
                    Made With ❤️ By Team Zodiac
                </div>

            </div>
        </footer>

    </div>
    <script>
        const colorSwitch=document.getElementById('dark');
        colorSwitch.addEventListener('click',checkMode);
        function checkMode(){
            console.log('checking');
            if(colorSwitch.checked){
                console.log("darkon");
            darkModeOn();
            }
            else{
                console.log("darkoff");
             darkModeOff();   
            }
        }

        function darkModeOn(){
            document.body.classList.add("dark-mode");
        }

        function darkModeOff(){
            document.body.classList.remove("dark-mode");
        }
    </script>   
</body>

</html>